1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [2]:
# Solution for a : 
for i in range(1,100):
    if (i%3 == 0) and (i%5 == 0):
        print('HelloWorld')
    elif (i%3 == 0):
        print('Hello')
    elif (i%5 == 0):
        print('World')
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello

In [1]:
#Solution for b: 

list1 = []
for i in range(1,100):
    if (i%3 == 0) and (i%5 == 0):
        list1.append('Python Works')
    elif (i%3 == 0):
        list1.append('Python')
    elif (i%5 == 0):
        list1.append('Works')
    else:
        list1.append(i)
myTuple = tuple(list1)
print(myTuple)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [5]:
#Swap Function :
def swap_func(a,b):
    print(b,a)
swap_func(3,4)  

#=======
def swap():
    x= input("Enter the first var.:")
    y= input("Enter the second var.:")
    print(y,x)
    
swap()

4 3
Enter the first var.:2
Enter the second var.:3
3 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [13]:
#Distance Function : 
def distance(x1,y1,x2,y2):
    dis = (((x1-x2)**2)+((y1-y2)**2))**(1/2)
    return dis
    
print(distance(3,0,0,4))

# another function :
def compute_Distance(u,v):
    return (((u[0]-v[0])**2) + (u[1]-v[1])**2)**(1/2)


print(compute_Distance((3,0),(0,4)))

5.0
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [15]:
#Counting Letter:
word = 'Zoomz'
counters = {}
for letter in word:
    l= letter.lower()
    if l in counters:
        counters[l] = counters[l] +1
    else:
        counters[l] = 1
    
print(counters)

{'z': 2, 'o': 2, 'm': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [17]:
#Isolating : 
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

list = [num for num in l if l.count(num) == 1]
print({'count': len(list), 'list': list})

{'count': 37, 'list': [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]}

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [18]:
#Square Function : 
def sqrt(num):
    return num**2

#Cube Function :
def cube(num):
    return num**3

#6th Power Function :
def sixth(num):
    return cube(sqrt(num))

print(sqrt(2))
print(cube(2))
print(sixth(2))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [19]:
#Loop Solution :
cube = [ x**3 for x in range(0,10)]
print(cube)

#List Comprehension Solution : 
cube2 = []
for x in range(0,10):
    cube2.append(x**3)
print(cube2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [20]:
#Nested List Comprehension and Tuple : 

from math import gcd
c=5
L=[]

while (c<100):
    c2=c**2
    
    for i in range (3, 100):
        a2=i**2
        
        for j in range (i+1, 100):
            
            b2=j**2
            
            if (a2+b2==c2) and (gcd(i, j)==1):
                tup=(i, j, c)
                L.append(tup)
                
    c=c+1

T=tuple(L)
print (T)

((3, 4, 5), (5, 12, 13), (8, 15, 17), (7, 24, 25), (20, 21, 29), (12, 35, 37), (9, 40, 41), (28, 45, 53), (11, 60, 61), (16, 63, 65), (33, 56, 65), (48, 55, 73), (13, 84, 85), (36, 77, 85), (39, 80, 89), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [26]:
#Normalization : 

def normalizeMe(list):
    maxNum = max(list)
    return [x/maxNum for x in list]

print(normalizeMe([1,2,3,44,2]))

[0.022727272727272728, 0.045454545454545456, 0.06818181818181818, 1.0, 0.045454545454545456]
[0.0, 0.25, 1.0, 0.5, 0.75, 0.25]